{:company/legal-name "American Electric Power Company, Inc."
 :company/lei "1B4S6S7G0TW5EE83BO58"
 :company/jurisdiction "US-OH"
 :company/website "https://www.aep.com"
 :company/ticker "AEP (NASDAQ)"
 :itonami.blueprint/maturity :implemented}
